@charset "utf-8";

html,
body {
  height: 100%;
  overflow-y: hidden
}

body {
  position: relative;
  min-width: 1200px;
  font-family: "Dotum", "Arial", sans-serif;
  font-size: 12px;
  color: #333;
  background: white
}

.scrollBox {
  min-width: 1200px;
  height: 100%;
  position: relative
}

.scrollBox .wrap {
  min-width: 1200px;
  position: relative;
  overflow: hidden
}

.scrollBox .wrap>div {
  position: relative
}

.scrollBox .wrap .objs>li {
  position: absolute;
  left: 50%
}

#header {}


#scene01 {
  height: 728px;
  background: white;
}

#scene01 .login {
  position: absolute;
  left: 50%;
  margin-left: -618px;
  top: 32px;
  z-index: 9999;
}

#scene01 nav {
  position: absolute;
  width: 1920px;
  height: 120px;
  z-index: 300;
  top: 10px;
  overflow: hidden;
  transition: 0.3s;
}

#scene01 nav:hover {
  height: 305px;
  border-bottom: 1px solid #8b8b8b;
  background-color: white;
}

#scene01 nav .logo {
  position: absolute;
  left: 340px;
  top: 80px;
}

#scene01 nav .gnb {
  position: absolute;
  z-index: 300;
  left: 965px;
  top: 85px;
  background-color: #fff;
}

#scene01 nav .mega_info {
  position: absolute;
  left: 340px;
  top: 134px;
}

#scene01 .gnb>li {
  display: inline-block;
}

#scene01 .gnb>li>a {
  display: block;
}

#scene01 .gnb>li>.mega_menu {}

#scene01 .gnb>li:nth-child(1) {
  margin-right: 76px;
}

#scene01 .gnb>li:nth-child(2) {
  margin-right: 84px;
}

#scene01 .gnb>li:nth-child(3) {
  margin-right: 82px;
}

#scene01 .gnb>li:nth-child(4) {
  margin-right: 93px;
}

#scene01>nav>.gnb>li>.mega_menu>li>a {
  display: block;
  position: absolute;
  top: 50px;
}

#scene01 .banner {
  position: absolute;
  width: 1920px;
  height: 414px;
  top: 130px;
}

#scene01 .home {
  position: absolute;
  top: 544px;
  left: 340px;
  z-index: 100;
}

#scene01 .home img:nth-child(2) {
  margin-left: -4px;
}

#scene01 .line {
  position: absolute;
  top: 594px;
  width: 1920px;
  border: 0.5px solid #e6e6e6;
  z-index: 200;
}

#scene01 .main_title {
  position: absolute;
  top: 693px;
  left: 815px;
  cursor: pointer;
}

#scene01 .main_title img:nth-child(1) {
  margin-right: 80px;
}

#scene02 {
  height: 2816px;
  background: white;
  position: relative;
}

#scene02 .story>.story_line>img:nth-child(1) {
  position: absolute;
  top: 450px;
  left: 960px;
}

#scene02 .story>.story_line>img:nth-child(2) {
  position: absolute;
  top: 1120px;
  left: 960px;
}

#scene02 .story>.story_line>img:nth-child(3) {
  position: absolute;
  top: 1962px;
  left: 960px;
}

/* 프리미엄 디저트 카페의 탄생 시작 */
#scene02 .story .brand1 img:nth-child(1) {
  position: absolute;
  top: 85px;
  left: 50%;
  margin-left: -205px;
}

#scene02 .story .brand1 img:nth-child(2) {
  position: absolute;
  top: 176px;
  left: 50%;
  margin-left: -362px;
}

#scene02 .story .brand1 img:nth-child(3) {
  position: absolute;
  top: 309px;
  left: 1320px;
}
/* 프리미엄 디저트 카페의 탄생 마침 */

/* 커피 전문점의 새로운 기준 마련 시작 */
#scene02 .story .brand2 img:nth-child(1) {
  position: absolute;
  top: 685px;
  left: 50%;
  margin-left: -222px;
}

#scene02 .story .brand2 img:nth-child(2) {
  position: absolute;
  top: 778px;
  left: 50%;
  margin-left: -364px;
}

#scene02 .story .brand2 img:nth-child(3) {
  position: absolute;
  top: 870px;
  left: 70px;
}

/* 커피 전문점의 새로운 기준 마련 마침 */
#scene02 .story .middle {
  position: absolute;
  top: 1356px;
}

#scene02 .story>img:nth-child(2) {
  position: absolute;
  top: 1397px;
  left: 958px;
}
/* 국내를 넘어 세계로 향하다 시작 */
#scene02 .story .brand3 img:nth-child(1) {
  position: absolute;
  top: 2197px;
  left: 50%;
  margin-left: -222px;
}

#scene02 .story .brand3 img:nth-child(2) {
  position: absolute;
  top: 2290px;
  left: 524px;
}

#scene02 .story .brand3 img:nth-child(3) {
  position: absolute;
  top: 2267px;
  left: 1330px;
}

/* 국내를 넘어 세계로 향하다 마침 */

/* 브랜드 연혁 시작 */
#scene02 .history{
  display: none;
}

#scene02 .history .history_content>img:nth-child(1) {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -197.5px;
}

#scene02 .history .history_content img:nth-child(2) {
  position: absolute;
  top: 191px;
  left: 50%;
  margin-left: -407.5px;
}

#scene02 .history .graph_number {
  position: absolute;
  top: 555px;
  z-index: 100;
  left: 456px;
  }

#scene02 .history .graph_number>div{
  float:left;
}

#scene02 .history .graph_number>div:nth-child(1){ 
  cursor: pointer;
}

#scene02 .history .graph_number>div:nth-child(2){ 
  cursor: pointer;
  margin-left:290px;
}

#scene02 .history .graph_number>div:nth-child(3){
  cursor: pointer;
  margin-left:290px;
}

#scene02 .history .graph_number>div:nth-child(4){
  cursor: pointer;
  margin-left:290px;
}


#scene02 .history .graph_img > div:nth-child(1){
  position: absolute;
  top: 597px;
}

#scene02 .history .graph_img > div:nth-child(2){
  position: absolute;
  top: 597px;
}

#scene02 .history .graph_img > div:nth-child(3){
  position: absolute;
  top: 597px;
}

#scene02 .history .graph_img > div:nth-child(4){
  position: absolute;
  top: 597px;
}

#footer {
  height: 407px;
  background: #0f0f0f;
  position: relative;
}
