@charset "utf-8";

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  position: relative;
  min-width: 1200px;
  font-family: "Dotum", "Arial", sans-serif;
  font-size: 12px;
  color: #333;
  background: white;
}

.scrollBox {
  min-width: 1200px;
  height: 100%;
  position: relative;
}

.scrollBox .wrap {
  min-width: 1200px;
  position: relative;
  overflow: hidden;
}

.scrollBox .wrap>div {
  position: relative;
}

.scrollBox .wrap .objs>li {
  position: absolute;
  left: 50%;
}

#header {}

#scene01 {
  height: 1385px;
  background: white;
}

#scene01 .login {
  position: absolute;
  left: 50%;
  margin-left: -618px;
  top: 32px;
  z-index: 9999;
}

#scene01 nav {
  position: absolute;
  width: 1920px;
  height: 120px;
  z-index: 300;
  top: 10px;
  overflow: hidden;
  transition: 0.3s;
}

#scene01 nav:hover {
  height: 305px;
  border-bottom: 1px solid #8b8b8b;
  background-color: white;
}

#scene01 nav .logo {
  position: absolute;
  left: 340px;
  top: 80px;
}

#scene01 nav .gnb {
  position: absolute;
  z-index: 300;
  left: 965px;
  top: 85px;
  background-color: #fff;
}

#scene01 nav .mega_info {
  position: absolute;
  left: 340px;
  top: 134px;
}

#scene01 .gnb>li {
  display: inline-block;
}

#scene01 .gnb>li>a {
  display: block;
}

#scene01 .gnb>li>.mega_menu {}

#scene01 .gnb>li:nth-child(1) {
  margin-right: 76px;
}

#scene01 .gnb>li:nth-child(2) {
  margin-right: 84px;
}

#scene01 .gnb>li:nth-child(3) {
  margin-right: 82px;
}

#scene01 .gnb>li:nth-child(4) {
  margin-right: 93px;
}

#scene01>nav>.gnb>li>.mega_menu>li>a {
  display: block;
  position: absolute;
  top: 50px;
}

#scene01 .event_banner {
  position: fixed;
  top: 180px;
  right: 120px;
  z-index: 9999;
}

#scene01 .main_banner {
  width: 1920px;
  height: 558px;
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translate(-50%, 0);
  z-index: 100;
}

#scene01 .main_banner .slick-slide img {
  width: 100%;
}

#scene01 .main_banner .slick-slide {
  transition: all 0.5s;
}

#scene01 .main_banner.slick-list {}

#scene01 .main_banner .slick-current {
  opacity: 1;
}

#scene01 .main_banner .slick-dots {
  width: 1292px;
  position: absolute;
  left: 311px;
}

#scene01 .main_banner .slick-dots li {
  cursor: pointer;
  width: 321px;
  height: 67px;
  transition: all 1s;
  float: left;
}

#scene01 .main_banner .slick-dots li:nth-child(2) {
  margin: 0 5px;
}

#scene01 .main_banner .slick-dots li:nth-child(1) {
  background: url("../img/winter.png") no-repeat left top;
}

#scene01 .main_banner .slick-dots li:nth-child(2) {
  background: url("../img/americano.png") no-repeat left top;
}

#scene01 .main_banner .slick-dots li:nth-child(3) {
  background: url("../img/bubble_event.png") no-repeat left top;
}

#scene01 .main_banner .slick-dots li:nth-child(1).slick-active {
  width: 320px;
  height: 67px;
  background: url("../img/winter_on.png") no-repeat left top;
}

#scene01 .main_banner .slick-dots li:nth-child(2).slick-active {
  width: 321px;
  height: 67px;
  background: url("../img/americano_on.png") no-repeat left top;
}

#scene01 .main_banner .slick-dots li:nth-child(3).slick-active {
  width: 321px;
  height: 67px;
  background: url("../img/bubble_event_on.png") no-repeat left top;
}

.slick-dots li button {
  display: none;
}

#scene01 .banner_title {
  position: absolute;
  top: 687px;
  left: 310px;
}

#scene01 .best_menu {
  position: relative;
}

#scene01 .best_menu_title {
  position: absolute;
  top: 869px;
  left: 326px;
}

#scene01 .best_menu_line {
  position: absolute;
  top: 885px;
  left: 940px;
  height: 3px;
}

#scene01>.best_menu_line>img:nth-child(2) {
  position: absolute;
  left: 0px;
  width: 60px;
  height: 3px;
}


#scene01 .best_menu .prev_arrows {
  position: absolute;
  top: 869px;
  left: 1520px;
  cursor: pointer;
}

#scene01 .best_menu .next_arrows {
  position: absolute;
  top: 869px;
  left: 1560px;
  cursor: pointer;
}

#scene01 .best_menu .best_menu_img {
  width: 1280px;
  height: 306px;
  position: absolute;
  left: 50%;
  top: 1010px;
  transform: translate(-50%, 0);
  z-index: 9300;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(1) {
  width: 222px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(2) {
  width: 271px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(3) {
  width: 223px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(4) {
  width: 261px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(5) {
  width: 266px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(6) {
  width: 223px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(7) {
  width: 223px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide img:nth-child(8) {
  width: 223px;
  height: 306px;
}

#scene01 .best_menu .best_menu_img .slick-slide {
  margin-right: 51px !important;
  transition: all 0.5s;
}

#scene01 .best_menu .best_menu_img .slick-list {}

#scene01 .best_menu .best_menu_img .slick-current {
  opacity: 1;
}

#scene01 .best_menu .best_menu_img .slick-active {}

#scene01 .best_menu .best_menu_img .slick-dots {}


#scene01 .best_menu .best_menu_img .slick-dots li button {
  display: none;
}

#scene02 {
  position: relative;
  height: 404px;
  background: white;
}

#scene02 .market {
  position: absolute;
  top: 270px;
  left: 1155px;
}

#scene03 {
  height: 798px;
  background: white;
}

#scene04 {
  height: 790px;
  background: white;
  position: relative;
}

#scene04 .title {
  position: absolute;
  top: 97px;
  left: 799px;
}

#scene04 .product {
  position: absolute;
  top: 349px;
  left: 360px;
}

#scene04 .product>div {
  padding-right: 69px;
  float: left;
}

#scene04 .tag {
  position: absolute;
  top: 165px;
  left: 729px;
}

#scene04 .tag>img {
  cursor: pointer;
  padding-left: 10px;
}

#scene04 .check_circle {
  position: absolute;
  top: 241px;
  left: 470px;
  margin-left: -299px;
  z-index: 1;
  float: left;
}

#scene04 .check_circle img {
  margin-left: 299px;
}

#scene04 .check_circle img:nth-child(3) {
  margin-left: 290px;
}

#scene04 .check_circle img:nth-child(4) {
  margin-left: 290px;
}

#scene04 .check .check_line {
  position: absolute;
  top: 250px;
  left: 332px;
}

#scene04 .more {
  position: absolute;
  top: 491px;
  left: 447px;
}

#scene04 .content {
  position: absolute;
  top: 620px;
  left: 410px;
}

#footer {
  height: 1152px;
  background: #0f0f0f;
  position: relative;
}